.community-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 5px 0;

	.community-item-meta {
		flex-grow: 1;
		margin-left: 10px;
	}

	.community-item-title {
		color: var(--primary-grey);
		font-size: 14px;
		font-weight: 600;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
