.course-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 5px 0;
	cursor: pointer;

	.icon-wrapper {
		position: relative;

		&.selected {
			background-color: black;
			border-radius: 50%;
		}
	}

	.course-item-meta {
		flex-grow: 1;
		margin-left: 10px;
	}

	.course-item-title {
		color: var(--primary-grey);
		font-size: 14px;
		font-weight: 600;
		word-break: break-all;
		line-height: 15px;
	}

	.course-item-provider-id {
		color: var(--tertiary-grey);
		font-size: 10px;
		font-weight: bold;
	}
}
