.calendar-list-trigger {
	width: 100%;
	padding: 5px;

	.flyout .flyout-inner {
		border-radius: 5px;
	}
}

.calendar-list-select {
	padding: 20px;

	.calendar-list-header {
		color: #B8B8B8;
		font-family: "Open Sans";
		font-weight: bold;
		font-size: 10px;
		text-transform: uppercase;
	}
}
