.calendar-list-trigger {
	width: 100%;
	padding: 5px;
	max-width: 280px;

	.flyout .flyout-inner {
		border-radius: 5px;
	}
}

@keyframes calendar-select {
	0% {
		opacity: 0;
		max-height: 0;
		overflow: hidden;
	}

	100% {
		opacity: 1;
		overflow-y: scroll;
		max-height: 100%;
	}
}

.calendar-list-select {
	animation: 0.1s calendar-select ease-out;
	padding: 0 10px;
	position: absolute;
	background: white;
	z-index: 2; // above sticky day headers
	border-radius: 5px;
	margin: 5px;
	left: 0;
	right: 0;
	bottom: 0;
	top: 40px;
	overflow-y: scroll;

	.calendar-list-header {
		color: var(--tertiary-grey);
		font-weight: bold;
		font-size: 10px;
		text-transform: uppercase;
	}

	.course-item-list,
	.community-item-list {
		padding: 15px 0;
	}
}
