.event-layout {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 4px 0;
	overflow: hidden;

	> .icon-wrapper {
		flex: 0 0 auto;
		margin-right: 0.625rem;
	}

	& > * {
		flex: 1 1 auto;
	}
}
