.calendar-icon {
	height: 32px;
	width: 32px;
	min-width: 32px;
	border-radius: 50%;
	position: relative;
	background-size: cover;
	background-position: center;
	cursor: pointer;

	&.selected {
		text-align: center;
	}

	i.icon-check {
		color: white;
		font-size: 30px;
	}
}
