@import '~@nti/style-common';

.event-generic {
	.event-generic-meta {
		background-color: #fff;
		border-radius: 5px;
		padding: 5px 10px;
		min-height: 40px;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		flex: 1 1 auto;

		.event-generic-title {
			color: var(--primary-grey);
			font-size: 14px;
			font-weight: 600;
			hyphens: auto;
			overflow: hidden;
			word-break: break-word;
			text-overflow: ellipsis;

			@include limit-lines($lines: 2, $line-height: 1.4);
		}

		.event-generic-subtitle {
			color: var(--tertiary-grey);
			font-size: 10px;
			font-weight: bold;
			letter-spacing: -0.21px;
			line-height: 14px;
		}
	}
}
