.calendar-body {
	padding-bottom: 15px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 90%;
	max-height: calc(100% - 40px);
	min-height: 200px;

	.calendar-empty {
		color: white;
		text-align: center;
		padding: 10px;
	}

	.calendar-error {
		text-align: center;
		color: white;
		margin-top: 15px;
	}

	.calendar-body-loading {
		margin: auto;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}

	.calendar-day {
		.day-header {
			position: sticky;
			top: 0;
		}
	}

	.calendar-edge-spacer {
		height: 50px;
	}

	.calendar-edge-loading {
		height: 50px;
	}

	.calendar-edge-empty {
		padding: 10px;
		color: white;
	}
}
