.calendar-header {
	background-color: #2d2d2d;
	border-bottom: 1px solid black;
	display: flex;
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

	.calendars-list {
		font-weight: 600;
		font-size: 0.875rem;
		color: white;
		padding: 10px;
		flex-grow: 1;
		display: flex;
		align-items: center;

		i.icon-chevron-down-10 {
			color: #b8b8b8;
			margin-left: 5px;
			transition: transform 0.2s ease-out;
			font-size: 16px;
		}

		&.open {
			i.icon-chevron-down-10 {
				transform: rotate(-180deg);
			}
		}
	}

	.controls {
		align-items: center;
		display: flex;

		i.icon-bold-x, i.icon-more {
			color: #787878;
			margin: 10px;
			cursor: pointer;
		}

		i.icon-more.active {
			color: white;
		}
	}
}

.export-calendar {
	position: absolute;
	padding: 5px;
	width: 100%;
	z-index: 1;

	.export-content {
		background: white;
		padding: 20px;
		border-radius: 5px;

		.export-header {
			color: #494949;
			font-size: 14px;
			font-weight: 600;
			line-height: 19px;
			display: flex;
			align-items: center;

			.download-icon {
				height: 30px;
				width: 30px;
				border: 1px solid #e4e4e4;
				text-align: center;
				line-height: 30px;
				border-radius: 50%;
				margin-right: 10px;
			}
		}

		.export-message {
			color: #757474;
			font-size: 14px;
			margin: 15px 0;
		}

		.export-link {
			color: #3fb3f6;
			font-size: 14px;
			cursor: pointer;

			a {
				text-decoration: none;
				color: #3fb3f6;
			}
		}
	}
}
