.calendar-main {
	position: relative;
	max-width: 280px;
	border-radius: 5px;
	background-color: #393939;

	.calendar-body {
		padding-bottom: 15px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		overflow: auto;
		max-height: calc(100% - 40px);
	}
}
