@import '~@nti/style-common';

.calendar-main {
	position: relative;
	border-radius: 5px;
	background-color: #393939;

	.add-event {
		background-color: $primary-blue;
		color: white;
		text-align: center;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		padding-top: 10px;
		box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.5);
		position: fixed;
		cursor: pointer;
		bottom: 15px;
		right: 15px;
	}
}
